body,html,h1 {
  margin: 0;
  padding: 0;
}

.main {
  padding: 0px;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 50px;
}

.balance,.income,.expense {
  position: fixed;
  top: 0px;
  background-color: #263672;
  color: #39C1CE;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
}

.listview li, ul {
  list-style: none;
  padding: 0;
}

.hline {
    width: 100%;
    background-color: gainsboro;
    height: 1px;
}

.item-content {
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  height: 7vh;
  margin: auto;
  margin-top: 10px;
  padding: 0;
}

.listimg {
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin: 5px;
}

.li_header {
  width: 80%;
  margin: 0;
  height: 30px;
  padding: 0;
  font-size: 1.5em;
  color: #263672;
  font-weight: bold;
}

.details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30px;
  font-size: 1em;
  font-weight: lighter;
}

.details p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.navButton {
  background-color: #263672;
  color: #39C1CE;
  width: 33.333%;
  border: none;
  font-size: 1.3em;
}

.active {
  background-color: #39C1CE;
  color: #263672;
}

.btnAdd {
  position: fixed;
  bottom: 60px;
  right: 10px;
  border: none;
  border-radius: 50%;
  background-color: #39C1CE;
  font-size: 3em;
  color: #263672;
  height: 70px;
  width: 70px;
  box-shadow: 2px 2px 10px #263672;
}

.btnAdd:active {
  box-shadow: none;
}

button {
  outline: 0;
}


/*
user-select: none;
*/
