body,html,h1 {
  margin: 0;
  padding: 0;
  opacity: 1;
}

.main {
  padding: 0px;
  margin: 0;
  /* top: 80px;*/
  margin-bottom: 50px;
}

.balance,.income,.expense {
  position: fixed;
  top: 0px;
  background-color: #263672;
  color: #39C1CE;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
}

.show {
  position: absolute;
  width: 100%;
  bottom: 65px;
  top: 65px;
  opacity: 1;
  transition: opacity 0.5s;
}

.listview li, ul {
  list-style: none;
  padding: 0;
}

.listview {
  padding-bottom: 50px;
}

.hline {
    width: 100%;
    background-color: gainsboro;
    height: 1px;
}

.item-content {
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  height: 7vh;
  margin: auto;
  margin-top: 10px;
  padding: 0;
}

.listimg {
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin: 5px;
}

.li_header {
  width: 80%;
  margin: 0;
  height: 30px;
  padding: 0;
  font-size: 1.5em;
  color: #263672;
  font-weight: bold;
}

.details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30px;
  font-size: 1em;
  font-weight: lighter;
}

.details p {
  margin: 0;
  padding: 0;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s;
}

.cover {
  display: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #263672;
}

.navButton {
  background-color: #263672;
  color: #39C1CE;
  width: 33.333%;
  border: none;
  font-size: 1.3em;
  border-radius: 50px;
  user-select: none;
  transition-timing-function: ease-in-out;
  -webkit-transition: border-radius 0.5s,background-color 0.5s, -webkit-transform 0.5s;
    transition: border-radius 0.5s,background-color 0.5s, transform 0.5s;
}

.active {
  background-color: #39C1CE;
  color: #263672;

  -webkit-transform: rotate(10deg);
    transform: translateY(-5px);
}

.btnAdd {
  position: fixed;
  bottom: 60px;
  right: 10px;
  border: none;
  border-radius: 50%;
  background-color: #39C1CE;
  font-size: 3em;
  color: #263672;
  height: 70px;
  width: 70px;
  box-shadow: 2px 2px 10px #263672;
}

.btnOut {
  position: fixed;
  bottom: 60px;
  left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #39C1CE;
  font-size: 3em;
  color: #263672;
  height: 70px;
  width: 70px;
  box-shadow: 2px 2px 10px #263672;
}

.btnAdd:active {
  box-shadow: none;
}

button {
  outline: 0;
}

.input-box {
  width: 95vw;
  height: 30px;
  background-color: inherit;
  outline: 0;
  padding: 10px;
  border: 1px solid #39C1CE;
  border-radius: 30px;
  color: #39C1CE;
  margin: auto;
  margin-bottom: 15px;
}

.radio {
  width: 50%;
  margin: auto;
}

::placeholder {
  color: #39C1CE;
}

.addPage {
  position: fixed;
  width: 100vw;
  top: 0;
  color: #39C1CE;
  bottom: 0;
  padding-top: 50%;
  padding-bottom: 50%;
  background-color: #263672;
  margin: auto;
}

.btns {
  width: 49%;

  margin-top: 20px;
  background-color: #39C1CE;
  border-radius: 30px;
  padding: 15px;
  border: 0;
}

/*
user-select: none;
*/
